<a href="https://colab.research.google.com/github/Ribeiro-isa/2-lista-de-python/blob/main/Atividades_2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
salario = 750
aumento = salario * 0.15
novo_salario = salario + aumento

print("Salário inicial: R$", salario)
print("Aumento de 15%: R$", aumento)
print("Novo salário: R$", novo_salario)

Salário inicial: R$ 750
Aumento de 15%: R$ 112.5
Novo salário: R$ 862.5

In [3]:
k = int(input("Digite um número inteiro qualquer: "))
print("O antecessor é:", k - 1)

Digite um número inteiro qualquer: 0
O antecessor é: -1

In [4]:
anos = int(input("Digite sua idade em anos: "))
meses = int(input("Digite os meses: "))
dias = int(input("Digite os dias: "))

idade_dias = (anos * 365) + (meses * 30) + dias
print("Sua idade em dias é:", idade_dias)

Digite sua idade em anos: 20
Digite os meses: 8
Digite os dias: 6
Sua idade em dias é: 7546

In [6]:
n1 = float(input("Digite a primeira nota: "))
n2 = float(input("Digite a segunda nota: "))
n3 = float(input("Digite a terceira nota: "))

media = (n1 + n2 + n3) / 3
print("A média do aluno é:", media)

Digite a primeira nota: 12
Digite a segunda nota: 30
Digite a terceira nota: 27
A média do aluno é: 23.0

In [7]:
cateto_adj = float(input("Digite o valor do cateto adjacente: "))
cateto_op = float(input("Digite o valor do cateto oposto: "))

hipotenusa = (cateto_adj**2 + cateto_op**2) ** 0.5
print("O valor da hipotenusa é:", hipotenusa)

Digite o valor do cateto adjacente: 7
Digite o valor do cateto oposto: 5
O valor da hipotenusa é: 8.602325267042627